name: Build nrf52 firmware

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Get nrf52-keyboard
      uses: actions/checkout@v4
      with:
        repository: Lotlab/nrf52-keyboard
        ref: master
        submodules: recursive
    - name: Get custom keymap
      uses: actions/checkout@v4
      with:
        path: keyboard/custom-keymap
    - name: Install tools
      run: |
        sudo apt-get update
        sudo apt-get -y install python3-pip python3-setuptools
        sudo pip3 install --upgrade pip
        sudo pip3 install nrfutil
        wget https://sourceforge.net/projects/sdcc/files/sdcc-linux-amd64/4.0.0/sdcc-4.0.0-amd64-unknown-linux2.5.tar.bz2 -O /tmp/sdcc-4.0.0-amd64-unknown-linux2.5.tar.bz2
        tar xf /tmp/sdcc-4.0.0-amd64-unknown-linux2.5.tar.bz2 -C /tmp
        sudo cp -r /tmp/sdcc-4.0.0/* /usr/local
        wget https://developer.arm.com/-/media/Files/downloads/gnu-rm/7-2018q2/gcc-arm-none-eabi-7-2018-q2-update-linux.tar.bz2 -O /tmp/gcc-arm-none-eabi-7-2018-q2-update-linux.tar.bz2
        tar xf /tmp/gcc-arm-none-eabi-7-2018-q2-update-linux.tar.bz2 -C /tmp
        wget https://developer.nordicsemi.com/nRF5_SDK/nRF5_SDK_v15.x.x/nRF5_SDK_15.3.0_59ac345.zip -O /tmp/nRF5_SDK_15.3.0_59ac345.zip
        mkdir /tmp/sdk
        unzip -q /tmp/nRF5_SDK_15.3.0_59ac345.zip -d /tmp/sdk
        wget https://www.nordicsemi.com/-/media/Software-and-other-downloads/Desktop-software/nRF-command-line-tools/sw/Versions-10-x-x/10-19-0/nrf-command-line-tools-10.19.0_linux-amd64.tar.gz -O /tmp/nRF-command-line-tools.tar.gz
        mkdir /tmp/tools
        tar xf /tmp/nRF-command-line-tools.tar.gz -C /tmp/tools
        sudo cp -r /tmp/tools/nrf-command-line-tools/bin/mergehex /opt
        sudo ln -s /opt/mergehex /usr/local/bin/mergehex
        cp -r /tmp/sdk/nRF5_SDK_15.3.0_59ac345/* SDK/
        cp template/Makefile.posix.template template/Makefile.posix
        sed -i "s/\/usr\/local/\/tmp/g" template/Makefile.posix
        cp template/Makefile.posix SDK/components/toolchain/gcc/Makefile.posix
        cd SDK/external/micro-ecc/nrf52hf_armgcc/armgcc/ && make
        cd ../../nrf52nf_armgcc/armgcc/ && make
        cd ../../../../../
        rm -r tmk/tmk_core/protocol/usb_hid/USB_Host_Shield_2.0-tmk/
        cd tmk/ && git reset --hard
        cd ../
    - name: Build firmware
      shell: sh -x {0}
      run: |
        cd keyboard/custom-keymap
        make go
    - name: Rename artifacts
      shell: sh -x {0}
      run: |
        mkdir _artifacts
        if [ -e keyboard/custom-keymap/_build/ch554.bin ]
        then
          cp keyboard/custom-keymap/_build/ch554.bin _artifacts/ch554.bin
        fi
        if [ -e keyboard/custom-keymap/_build/nrf52_all.hex ]
        then
          cp keyboard/custom-keymap/_build/nrf52_all.hex _artifacts/nrf52.hex
        fi
        if [ -e keyboard/custom-keymap/_build/nrf52_kbd_*.zip ]
        then
          cp keyboard/custom-keymap/_build/nrf52_kbd_*.zip _artifacts/nrf52_ota.zip
        fi
    - name: Upload package
      uses: actions/upload-artifact@v3
      with:
        name: nrf52
        path: _artifacts
